<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="keywords" content="riclue"/>
    <link href="../static/style.css" rel='stylesheet' type='text/css'/>
</head>
<body>

<!--SIGN UP-->
<h1>Login Form</h1>
<div class="login-form" method="get" action='/login'>

    <div class="avtar"><img src="../static/images/avtar.png"/>
    </div>
    <form>
        <input type="text" name="username" class="text" value="" placeholder="Username">
        <div class="key">
            <input type="password" name="password" value="" placeholder="Password">
        </div>
    </form>
    <div><input type="submit" value="Login"></div>

</div>
<div class="copy-rights">
    <p>Copyright &copy; 2018.Company name All rights reserved.More Templates</p>
</div>

</body>
</html>